// define variable for SASS

$body-color: #ffffff
$font-color: #000000
$color-red: #f48fb1
$color-blue: #90caf9
$color-white: #ffffff

h1
    background-color: $color-red
    color: $color-white

div
    background-color: $color-blue
    color: $color-white

// Nest element

nav
    div
        margin: 20px 0 0 0

    ul
        margin: 0
        padding: 0
        list-style: none

        li
            background-color: $color-red
            color: $color-white
            margin: 5px

    a
        background-color: $color-blue
        color: $color-white
        text-decoration: none
        display: block
        padding: 5px 10px